.darkMode{
  background-color: #0d0707;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.lightMode{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.btn{
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.myImage{
  width: 25px;
  height: 25px;
  
}